* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
}

.container {
	padding: 0 24px;
	max-width: 952px;
	margin: 0 auto;
	min-width: 320px;
}

.fw {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

a {
	color: inherit;
	text-decoration: none;
}


.header {
	background-image: url(img/RV2H4VBE3L.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header__inner{
	height: 100vh;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.header__name{
	padding: 24px 112px;
    color: #fff;
    background-color: rgba(0,0,0,.2);
    font-size: 76px;
	color: #fff;
	border: 4px solid #fff;
}

/* <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 



font-family: 'Raleway', sans-serif;

*/